.button {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  &--primary {
    background: $color-primary;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    height: 56px;
    width: 192px;
    transition: $transition;
    &:hover {
      background: darken($color-primary, 5%);
    }
  }
  &--simple {
    text-decoration: none;
  }
  @include respond(phone) {
    width: 100%;
  }
}
