.form {
  display: grid;
  grid-gap: 8px;
  margin: 0 auto;

  @for $i from 1 through 10 {
    &--#{$i*10} {
      width: #{$i * 10 + "%"};
      @include respond(phone) {
        width: 80vw;
      }
    }
  }

  &__top {
    align-items: center;
    display: flex;
    font-size: rem(13px);
    font-weight: 600;
    margin-bottom: 20px;

    span,
    svg {
      color: $color-primary;
      margin-right: 5px;
    }
  }
  &__header {
    margin-bottom: 15px;
    .title {
      font-size: rem(30px);
      font-weight: 100;
      margin-bottom: 15px;
      span {
        color: $color-primary;
        font-weight: bold;
      }
    }
    .paragraph {
      font-size: rem(15px);
      font-weight: 600;
    }
  }

  &__call {
    margin-top: 40px;
    margin-bottom: -12px;
    font-size: rem(16px);
    font-weight: 600;
    color: $color-text-dark;
  }
  &__group {
    display: flex;
    select {
      width: 96.67px;
    }
    input {
      flex: 1;
    }
  }

  &__politics {
    display: flex;
    font-size: rem(13px);
    color: $color-accent !important;
    &:first-child {
      margin-right: 12px;
    }
  }

  &__buttom {
    margin-top: 20px;
    @include respond(phone) {
      margin-top: 8px;
    }
  }
}
