.form {
  display: grid;
  grid-gap: 8px;
  margin: 0 auto;

  @for $i from 1 through 10 {
    &--#{$i*10} {
      width: #{$i * 10 + "%"};
    }
  }

  &__top {
    align-items: center;
    display: flex;
    font-size: rem(13px);
    font-weight: 600;
    margin-bottom: 20px;

    span,
    svg {
      color: $color-primary;
      margin-right: 5px;
    }
  }
  &__header {
    margin-bottom: 15px;
    .title {
      font-size: rem(30px);
      font-weight: 100;
      margin-bottom: 15px;
      span {
        color: $color-primary;
        font-weight: bold;
      }
    }
    .paragraph {
      font-size: rem(15px);
      font-weight: 600;
    }
  }

  &__call {
    margin-top: 40px;
    margin-bottom: -12px;
    font-size: rem(16px);
    font-weight: 600;
    color: $color-text-dark;
  }
  &__group {
    display: flex;
    select {
      height: 56px;
      width: 96.67px;
      border-radius: 4px 0 0 4px;
      //   appearance: none;
      padding: 2px 2px 2px 20px;
      //   background: transparent url("../../img/chevrot.png") no-repeat right
      //     center;
      background-position: calc(100% - 10px) calc(1em + 8px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
    input {
      flex: 1;
      border-radius: 0 4px 4px 0;
      border-left: none;
    }
  }

  &__politics {
    display: flex;
    font-size: rem(13px);
    color: $color-accent !important;
    &:first-child {
      margin-right: 12px;
    }
  }

  &__buttom {
    margin-top: 20px;
    @include respond(phone) {
      margin-top: 8px;
    }
  }
}
