.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  &__text {
    font-size: rem(13px);
    line-height: 1.5;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px solid $color-border;
  }

  &:hover input ~ &__box {
    background-color: #ccc;
  }

  input:checked ~ &__box {
    background-color: #2196f3;
  }

  &__box:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ &__box:after {
    display: block;
  }

  &__box:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
