.form {
  display: grid;
  grid-gap: 16px;
  &__header {
    margin-bottom: 15px;
    .title {
      font-size: rem(30px);
      font-weight: 100;
      margin-bottom: 15px;
      span {
        color: $color-primary;
      }
    }
    .paragraph {
      font-size: rem(17px);
      font-weight: 100;
    }
  }
  &__group {
    display: flex;
    select {
      height: 56px;
      width: 96.67px;
      border-radius: 4px 0 0 4px;
      //   appearance: none;
      padding: 2px 2px 2px 20px;
      //   background: transparent url("../../img/chevrot.png") no-repeat right
      //     center;
      background-position: calc(100% - 10px) calc(1em + 8px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
    input {
      flex: 1;
      border-radius: 0 4px 4px 0;
      border-left: none;
    }
  }

  &__group1 {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    label,
    input {
      transition: all 0.2s;
      touch-action: manipulation;
    }

    input {
      font-size: 1.5em;
      border: 0;
      border-bottom: 1px solid #ccc;
      font-family: inherit;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 0;
      cursor: text;
    }

    input:focus {
      outline: 0;
      border-bottom: 1px solid #666;
    }

    label {
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    input:placeholder-shown + label {
      cursor: text;
      max-width: 66.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      // transform: translate(0, 2.125rem) scale(1.5);
      transform: translate(15px, 38px) scale(1.5);
    }
    // https://codepen.io/team/css-tricks/pen/XVBLRM
    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    input {
      &:focus::-webkit-input-placeholder {
        opacity: 1;
      }

      &:not(:placeholder-shown) + label,
      &:focus + label {
        transform: translate(15px, 16px) scale(1);
        cursor: pointer;
      }
    }
  }

  &__politics {
    display: flex;
    font-size: rem(13px);
    color: $color-accent !important;
    &:first-child {
      margin-right: 12px;
    }
  }

  &__buttom {
    margin-top: 20px;
    @include respond(phone) {
      margin-top: 8px;
    }
  }
}
