@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 40em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 60.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 1300px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 130.5em) {
      @content;
    }
  }
}

@mixin props-input-label {
  transition: all 0.2s;
  touch-action: manipulation;
}

@mixin props-input-select {
  background: #ffffff;
  color: #494f66;
  height: 56px;
  border-radius: 4.02778px;
  border: 1.00694px solid $color-border;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
}
