$color-primary: #2c84eb;
$color-secondary: lighten($color-primary, 35%);

$color-accent: #d6dbed;
$color-bg-gray: #e8e9f2;
$color-border: #d6dbed;
$color-white: #ffffff;
$color-text-ligth: #bac3e1;
$color-text-dark: #585f78;
$color-red: red;

$color-green: #83cc5e;

$shadowBottom: 0px -3px 2px 3px rgba(0, 0, 0, 0.3);
$shadowTop: -3px 9px 7px 4px rgba(0, 0, 0, 0.3);
$transition: all 0.5s ease;
